body {
    font-family: 'Ninito',sans-serif;
    margin: 0;
}

header {
    position: relative;
    background-image: url('../images/globe-2.jpg');
    background-size: cover;
    background-position: center;
}

header::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 150, 0.33);
    backdrop-filter: blur(2.5px);
    z-index: 1;
  }

.header-inside {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
}

.main-title {
    font-size: 4rem;
    letter-spacing: 0.5rem;
    margin-top: 6.6rem;
    margin-bottom: 0.3rem;
}

.total-number-country {
    font-size: 1.4rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.starts-or-contain {
    font-size: 1.15rem;
    margin-top: 0.5rem;
    margin-bottom: 0.66rem;
    display: none;
}

.main-button {
    margin-bottom: 1.5rem;
}

#statring-button,#with-any-word-button, #filter-button {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: rgb(190, 144, 254); 
    border: none;
    border-radius: 0.1rem;
    color: white;
    margin-right: -2px;
}

#statring-button:hover,#with-any-word-button:hover, #filter-button:hover {
    padding: 0.52rem;
    background-color: rgb(157, 91, 249); 
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.4);
}

.search-icon {
    font-size: 1.5rem;
}

#input-el {
    font-size: 1rem;
    border: none;
    border-radius: 0.7rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 25rem;
    margin-right: 0.4rem;
}

#input-el:focus {
    outline: none;
    background-color: rgb(237, 237, 237);
}



#input-el::placeholder {
    text-align: center;
}

.input-element {
    margin-bottom: 5.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 248, 239);
}

.countries-cards {
    margin-top: 5rem;
    width: 85rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-country {
    position: relative;
    background-image: url('../images/map_image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    margin: 0.4rem 2rem 0.5rem 2rem;    
}

.card-country::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 90, 0.33);
    border-radius: 0.5rem;
    z-index: 1; 
}

.country-name-card {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    text-align: center;
    z-index: 2;
    color:white;
}

.value {
    color: rgb(218, 46, 46); 
    font-weight: bold;
}

.filteredLen {
    color: rgb(0, 199, 0); 
    font-weight: bold;
}
